.heading{
    color:red;
}

#body {
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 50%;
    left: 50%;
    
    /* Apply blur effect */
    backdrop-filter: brightness(50%); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: brightness(50%); /* For Safari */
}


.form-group{
    margin: 10px 0;
    width: 300px;
    color: azure;
}

.form-group input {
    background-color: #bec4ca49;
    border-radius: 5px;
    width: 300px;
}

.card{
    background-color: rgba(241, 235, 235, 0.209);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.btn-dark{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #343a40;
    color: white;
    border: none;
}

.card button:hover{
    align-items: center;
}

#login-main{ 
    color: azure;
    font-weight: 800;
    margin-bottom: 10%;
}


.card.container{
    height: auto;
    width: 400px;
    border-radius: 15px;
    background-color: rgba(241, 235, 235, 0.209);

}


#main-heading{
    align-items: center;
    top: 50%;
}

/* Add this CSS to your existing CSS file or create a new one */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}   


#pass-section{
    margin-bottom: 10%;
}

